@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

:root {
  --primary-color: #23a6f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #f0f0f0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100%;
}

header {
  width: 100%;
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* position: relative; */
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  height: 60px;
  width: 100%;
  /* max-width: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: transparent;
  font-weight: 300;
}

.navbar > h2 {
  font-size: 16px;
  font-weight: 500;
}

.navbar > ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  font-size: 14px;
}

.nav-end {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  /* font-weight: 300; */
}
.nav-end > h5 {
  font-weight: 300;
  font-size: 15px;
}
.member-btn {
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
}
.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.hero-content > h1 {
  font-size: 50px;
  font-weight: 500;
  /* text-align: center; */
  color: white;
  margin-top: 20px;
}
.hero-content > p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
  margin: 20px 0;
}

.hero-btn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}
.hero-btn > button {
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin: 0 20px;
  color: white;
  font-size: 18px;
}

.hero-btn > p {
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  outline: 1px solid white;
  color: white;
  font-size: 18px;
}

.top-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -80px;
  width: 100%;
  padding-bottom: 50px;
  gap: 40px;
}

/* start of dummy css */

.user-card {
  position: relative;
  background-color: white;
  padding: 40px;
  width: 350px;
  box-shadow: 0 15px 35px #aaaaaa40;
}

.default-image {
  background-color: white;
  transition: opacity;
}


.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity;
}


.user-card:hover .hover-image {
  opacity: 1;
  color: white;
  background: var(--primary-color);
  padding: 37px 40px;
  width: 350px;
  box-shadow: 0 15px 35px #aaaaaa40;
  cursor: pointer;
}

.user-card:hover .default-image {
  opacity: 0;
}
/* end of dummy css */

.peace-img2 {
  display: none;
}

.peace-card > img {
  margin: 0 30px;
}

.peace-card > h2 {
  margin: 20px 20px 20px 0;
}

.life-card > img {
  margin: 0 30px;
}
.life-card > h2 {
  margin: 20px 20px 20px 0;
}

.satisfaction-card > img {
  margin: 0 30px;
  /* background-color: #23a6f0; */
}
.satisfaction-card > h2 {
  margin: 20px 20px 20px 0;
}

.icons-cards {
  /* padding-top: 40px; */
  display: flex;
  background-color: white;
  width: 100%;
  height: 400px;

  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.recordbook-card {
  /* background-color: rgb(219, 98, 98); */
  padding: 40px;
  width: 350px;
  text-align: center;
}

.bookmark-card {
  /* background-color: rgb(219, 98, 98); */
  padding: 40px;
  width: 350px;
  text-align: center;
}

.user-iconcard {
  /* background-color: rgb(219, 98, 98); */
  padding: 40px;
  width: 350px;
  text-align: center;
}
.industry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100vw;
  text-align: center;
  padding: 50px 0;
}
.industry > h2 {
  margin: 20px 0;
}

.review-row {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

.reviews {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "firstc secondc thirdc"
    "firstc secondc thirdc";
  gap: 40px;
  margin-top: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

.first-review {
  background-color: white;
  grid-area: firstc;
  text-align: center;
  padding: 40px 20px;
}
.first-review > p {
  /* text-align: center; */
  margin: 30px 0;
}

.second-review {
  background-color: white;
  grid-area: secondc;
  text-align: center;
  padding: 40px 20px;
}

.second-review > p {
  /* text-align: center; */
  margin: 30px 0;
}

.third-review {
  background-color: white;
  grid-area: thirdc;
  text-align: center;
  padding: 40px 20px;
}

.third-review > p {
  /* text-align: center; */
  margin: 30px 0;
}
.img-vectors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  margin: 10px;
  padding: 20px;
  width: 100vw;
}
.subscribe-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 5px;
}
.subscribe {
  background: #c33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1d2671, #c33764);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.subscribe-input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-input > input {
  padding: 15px 30px;
  border-radius: 5px 0 0 5px;
  /* border: 2px solid grey; */
  outline: none;
}

.subscribe-input > h6 {
  background: var(--primary-color);
  padding: 17px 20px;
  border-radius: 0 5px 5px 0;
  color: white;
}

.subscribe > h4 {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.pricing {
  text-align: center;
  margin: 20px;
  padding: 10px;
}
.pricing > h2 {
  margin: 15px 0;
  font-weight: 500;
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.free,
.standard,
.premium {
  border: 1px solid var(--primary-color);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
}
.superscript {
  font-size: 15px;
  font-weight: 300;
}
.amount {
  color: var(--primary-color);
}

.amount > h2 {
  font-size: 40px;
  font-weight: 500;
}
.subscript {
  font-size: 15px;
  font-weight: 300;
}

.free > p {
  font-size: 15px;
}
.free > button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.premium > button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.package > p {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.standard {
  background-color: #252b42;
  color: white;
  padding: 20px;
  height: 550px;
}

.standard > p {
  font-size: 15px;
}
.standard > button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.premium > p {
  font-size: 15px;
}

.map {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  background-color: rgb(37, 43, 66);
  color: white;
  height: 550px;
}
.map-location > h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
}

.map-location > p {
  font-weight: 300;
}

.appointment {
  display: flex;
  justify-content: center;
  margin-top: -200px;
}

.form {
  background-color: white;
  padding: 20px 20px 0px 20px;
  width: 30%;
}

.form > h4 {
  text-align: center;
  font-size: 20px;
}

.inputholder {
  display: flex;
  flex-direction: column;
  margin: 20px 0 5px 0;
}

.inputholder > input {
  border: none;
  outline: none;
  background-color: whitesmoke;
  padding: 10px;
}

.inputholder > button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
  padding: 40px;
}

.contact-end > button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  border: none;
  outline: none;
}

/* Footer styling */

footer {
  background-color: white;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
}

.footer-top {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 0px 10px;
  flex-wrap: wrap;
}

.get-intouch {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.icons-intouch {
  display: flex;
  align-items: center;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-top: 15px;
}

.list {
  margin-top: 10px;
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width="375") {
}
