@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

:root {
  --primary-color: #23a6f0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #f0f0f0;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
.hero {
  width: 100%;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  /* added min height */
  min-height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: red; */
  /* padding: 20px; */
  /* position: relative; */
}

.navbar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  color: white;
  min-height: 60px;
  width: 100%;
  padding: 10px;
  /* max-width: 100%; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* background-color: transparent; */
  background-color: rgba(0, 0, 0, 0.3);;
  font-weight: 300;
}
.nav-start{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.nav-start > h2 {
  font-size: 16px;
  font-weight: 500;
}
.d-none{
  display: none;
}
.nav-start > ul {
  width: 50%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  font-size: 18px;
}

.nav-end {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  font-weight: 300;
}
.nav-end > h5 {
  font-weight: 300;
  font-size: 15px;
}
.member-btn {
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 5px;
}
.hero-content {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  width: 50%;
  /* background-color: yellow; */
  /* text-align: center; */
  flex-wrap: wrap;
}
.hero-content > h1 {
  font-size: 50px;
  font-weight: 500;
  /* text-align: center; */
  color: white;
  margin-top: 20px;
}
.hero-content > p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: white;
  margin: 20px 0;
  flex-wrap: wrap;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  /* background-color: yellow; */
}
.hero-btn > button {
  background: var(--primary-color);
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  margin: 0 20px;
  color: white;
  font-size: 18px;
}

.hero-btn > p {
  padding: 10px 15px;
  border-radius: 30px;
  border: none;
  outline: 1px solid white;
  color: white;
  font-size: 18px;
}

.top-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -80px;
  width: 100%;
  padding-bottom: 50px;
  gap: 40px;
}

/* start of dummy css */

.user-card {
  position: relative;
  background-color: white;
  padding: 40px;
  width: 350px;
  box-shadow: 0 15px 35px #aaaaaa40;
}

.default-image {
  background-color: white;
  transition: opacity;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity;
}

.user-card:hover .hover-image {
  opacity: 1;
  color: white;
  background: var(--primary-color);
  padding: 37px 40px;
  width: 100%;
  box-shadow: 0 15px 35px #aaaaaa40;
  cursor: pointer;
}

.user-card:hover .default-image {
  opacity: 0;
}

.icons-cards {
  /* padding-top: 40px; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 400px;
  gap: 40px;
}

.recordbook-card {
  /* background-color: rgb(219, 98, 98); */
  padding: 40px;
  width: 350px;
  text-align: center;
}

.bookmark-card {
  /* background-color: rgb(219, 98, 98); */
  padding: 40px;
  width: 350px;
  text-align: center;
}

.user-iconcard {
  /* background-color: rgb(219, 98, 98); */
  padding: 40px;
  width: 350px;
  text-align: center;
}
.industry-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  padding: 50px 0;
}
.industry > h2 {
  margin: 20px 0;
}

.review-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.reviews {
  width: 80%;
  display: flex;
  justify-content: center;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas:
    "firstc secondc thirdc"
    "firstc secondc thirdc"; */
  gap: 60px;
  margin-top: 10px;
  padding: 20px;
  flex-wrap: wrap;
}

.first-review {
  background-color: white;
  grid-area: firstc;
  text-align: center;
  padding: 40px 20px;
}
.first-review > p {
  /* text-align: center; */
  margin: 30px 0;
}

.second-review {
  background-color: white;
  grid-area: secondc;
  text-align: center;
  padding: 40px 20px;
}

.second-review > p {
  /* text-align: center; */
  margin: 30px 0;
}

.third-review {
  background-color: white;
  grid-area: thirdc;
  text-align: center;
  padding: 40px 20px;
}

.third-review > p {
  /* text-align: center; */
  margin: 30px 0;
}
.img-vectors {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 90px;
  padding: 20px;
  width: 100%;
}
.subscribe-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* margin: 20px 5px; */
}
.subscribe {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #c33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1d2671, #c33764);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1d2671, #c33764);
  padding: 20px;
  width: 80%;
}
.subscribe-input {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* width: 100%; */
}
.subscribe-input > input {
  width: 100%;
  padding: 15px 30px;
  border-radius: 5px 0 0 5px;
  /* border: 2px solid grey; */
  outline: none;
}

.subscribe-input > h6 {
  background: var(--primary-color);
  padding: 17px 20px;
  border-radius: 0 5px 5px 0;
  color: white;
}

.subscribe > h4 {
  font-size: 22px;
  font-weight: 600;
  color: white;
}

.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin: 20px; */
  padding: 10px;
  flex-wrap: wrap;
}
.pricing > h2 {
  margin: 15px 0;
  font-weight: 500;
}
.pricing > p {
  text-align: center;
}

.offers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 20px;
}

.free,
.standard,
.premium {
  border: 1px solid var(--primary-color);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 500px;
  padding: 20px;
  border-radius: 5px;
}

.free:hover {
  background-color: #252b42;
  color: white;
  padding: 20px;
  height: 550px;
  cursor: pointer;
}

.superscript {
  font-size: 15px;
  font-weight: 300;
}
.amount {
  color: var(--primary-color);
}

.amount > h2 {
  font-size: 40px;
  font-weight: 500;
}
.subscript {
  font-size: 15px;
  font-weight: 300;
}

.free > p {
  font-size: 15px;
}
.free > button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.premium > button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.package > p {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.standard {
  background-color: #252b42;
  color: white;
  padding: 20px;
  height: 550px;
}

.standard > p {
  font-size: 15px;
}
.standard > button {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.premium > p {
  font-size: 15px;
}

.map {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  width: 100%;
  background-color: rgb(37, 43, 66);
  color: white;
  height: 80vh;
  flex-wrap: wrap;
}
.map-location > h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 500;
}

.map-location > p {
  font-weight: 300;
}

.appointment {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -200px;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px 20px 0px 20px;
  width: 100%;
}

.form > h4 {
  text-align: center;
  font-size: 20px;
}

.inputholder {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px 0 5px 0;
  flex-wrap: wrap;
}

.inputholder > input {
  border: none;
  outline: none;
  background-color: whitesmoke;
  padding: 10px;
  width: 90%;
}

.inputholder > button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 15px 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin: 40px; */
  padding: 60px;
}

.contact-end > button {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  padding: 10px 15px;
  border: none;

  outline: none;
}

/* Footer styling */

footer {
  background-color: white;
  padding: 20px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;

  /* margin: 10px 10px; */
}

.footer-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin: 20px 10px 20px 10px; */
  padding: 0 20px 0 0;
  flex-wrap: wrap;
}

.get-intouch {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

.icons-intouch {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-title {
  font-size: 18px;
  font-weight: 500;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  /* padding: 0 50px; */
  margin-top: 15px;
}

.list {
  display: flex;
  margin-top: 10px;
  margin-bottom: 15px;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
}



@media screen and (max-width: 768px) {
  /* body{
    background-color: yellow;
  } */
  .main {
    font-size: 14px;
  }
  .hero {
    font-size: 15px;
    
  }
 
  .navbar {
    margin: 0;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 15vh;
    font-size: 18px;
  }

  .nav-start > ul{
    display: none;
  }

  .d-none{
    display: block;
  }

  .navbar > h2 {
    width: 70vw;
    margin: 5px 20px;
  }

  .navbar > ul {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

  }



  .member-btn {
    padding: 5px;
  }
.member-btn>p{
  font-size: 12px;
}
  .hero-content > h1 {
    font-size: 20px;
  }
  .hero-content > p {
    margin: 10px 0;
  }

  .hero-btn {
    gap: 10px;
  }

  .icons-cards {
    gap: 0px;
    font-size: 18px;
  }

  .recordbook-card {
    margin: 0;
    padding: 5px;
    gap: 0;
    width: 90vw;
  }

  .bookmark-card {
    margin: 0;
    padding: 5px;
    width: 90vw;
  }

  .user-iconcard {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    width: 90vw;
  }
  .industry-top {
    width: 90vw;
  }

  .first-review {
    width: 100vw;
  }

  .second-review {
    width: 100vw;
  }

  .third-review {
    width: 100vw;
  }

  .map {
    padding: 20px;
    width: 90vw;
    margin-left: 20px;
  }
  .map-location > h2 {
    font-size: 18px;
  }
  .img-map > img {
    width: 300px;
  }

  .appointment {
    margin-top: 10px;
  }
  .img-appointment > img {
    width: 90vw;
  }
  .form {
    width: 90vw;
    margin: 15px;
    /* background-color: yellow; */
  }

  .footer-top {
    /* display: flex; */
    /* background-color: #23a6f0; */
    /* text-align: center; */
    gap: 30px;
    width: 100%;
    /* padding: 0 20px 0 0; */
    flex-wrap: wrap;
    font-size: 18px;
  }

  .info-title > h4 {
    font-size: 19px;
    text-align: center;
  }
  /* .get-intouch {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    /* gap: 8px; */
  /* } */

  /* .icons-intouch {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  } */

  .footer-title {
    font-size: 18px;
    font-weight: 500;
  }

  .footer-bottom {
    flex-direction: column;
    margin-top: 15px;
    padding: 20px;
    gap: 10px;
  }
  .footer-bootom-right{
    display: flex;
    justify-content: space-around;
  }
  .user-card{
    font-size: 16px;
  }
}

@media screen and (max-width:350px){

  .main{
    /* overflow-x: hidden; */
  }
  .map {
    padding: 20px;
    margin-left: 20px;
  }
  .img-map > img {
    width: 200px;
  }
  .nav-end{
    flex-direction: column;
  }
  .hero-btn>button,.hero-btn>p{
    font-size: 10px;
    padding: 5px;
  }
}